.about{


  &__content{
    background-color: #100C46;
  }

  &__pretitle{
    font-size: 16px;
    color: #6257FE;
  }

  &__title{
    font-size: 56px;
    font-family: 'Overpass', sans-serif;
    color: #6257FE;
  }

  &__text{
    font-size: 20px;
    color: white;
  }

}