.about{

  &__holder{
    position: relative;
  }

  &__content{
    background-color: #100C46;
    max-width: 720px;
  }

  &__content-holder{
    padding: 225px 160px 225px 85px;
  }

  &__pretitle{
    font-size: 16px;
    color: #6257FE;
  }

  &__title{
    font-size: 56px;
    font-family: 'Overpass', sans-serif;
    color: #6257FE;
    padding-bottom: 15px;
  }

  &__text{
    font-size: 20px;
    color: white;
    max-width: 476px;
  }

  &__photo-holder{
    position: absolute;
    top: 76px;
    right: 82px;

    @include breakpoint('xxl'){
      top: 76px;
      right: 342px;
      max-width: 30%;
    }
  }

  &__photo{
    max-width: 748px;

    @include breakpoint('xl'){
      max-width: 474px;
      position: absolute;
      left: -115px;
      top: 150px;
    }
  }
}