.services{

  padding-bottom: 145px;

  &__holder{
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  &__content{
    max-width: 845px;
    padding-left: 85px;
    padding-bottom: 80px;
  }

  &__column-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 86px;
  }

  &__column{
    max-width: 296px;
  }

  &__pre-title{
    color: #6257FE;
    font-size: 16px;
    padding-top: 120px;
    padding-bottom: 17px;
  }

  &__title{
    font-family: 'Overpass', sans-serif;
    color: #100C46;
    padding-bottom: 85px;
    font-size: 56px;
  }

  &__column-icon{
    padding-bottom: 14px;
  }

  &__column-title{
    font-size: 22px;
    color: #100C46;
    font-weight: 600;
    text-align: end;
    padding-bottom: 22px;
  }

  &__text{
    line-height: 32px;
  }

  &__background{
    background-color: $blue;
    max-width: 575px;
    width: 100%;

  }

  &__photo{
    right: 185px;
    top: 145px;
    position: absolute;
  }

  &__phone{
    position: absolute;
    right: 10px;
    bottom: 0
  }

  &__line{
    display: inline-block;
    border-top: 1px solid #100C46;
    width: 77px;
  }
}