.services{


  &__content{
    max-width: 845px;
  }

  &__column{
    max-width: 296px;
  }

  &__pre-title{
    color: #6257FE;
    font-size: 16px;
    padding-bottom: 7px;
  }

  &__title{
    font-family: 'Overpass', sans-serif;
    color: #100C46;
    padding-bottom: 85px;
  }
}