.team{

  padding-bottom: 148px;

  &__pre-title{
    font-size: 16px;
    color: $blue;
    padding-bottom: 7px;
    text-align: center;
  }

  &__title{
    font-weight: 700;
    font-family: "Overpass", sans-serif;
    font-size: 56px;
    text-align: center;
    padding-bottom: 77px;
  }

  &__holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 23px;
  }

  &__column{
    max-width: 300px;
    position: relative;
  }

  &__column-content{
    background-color: rgba(98, 87, 254, 0.8);
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 27px;
  }

  &__name{
    font-size: 16px;
    color: white;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-top: 11px;
  }

  &__position{
    font-size: 14px;
    color: white;
    padding-left: 18px;
    padding-bottom: 11px;
  }

  &__social{
    padding-top: 25px;
    display: flex;
    gap: 11px;
    padding-right: 17px;
  }
  &__social-hover{

    &:hover{
      fill: #e4ff00;
    }
  }
}